<h1 class="form-title">Add a Book</h1>
<form [formGroup]="bookForm">
    <div>
        <mat-form-field>
            <input matInput formControlName="title" placeholder="Title">
            <mat-error *ngIf="bookForm.get('title')!.invalid || bookForm.get('title')!.touched">
                Title is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput formControlName="publisher" placeholder="Publisher">
            <mat-error *ngIf="bookForm.get('publisher')!.invalid || bookForm.get('publisher')!.touched">
                Publisher is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput formControlName="price" placeholder="Price">
            <mat-error *ngIf="bookForm.get('price')!.invalid">
                Price is required.
            </mat-error>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <input matInput formControlName="genre" placeholder="Genre">
            <mat-error *ngIf="bookForm.get('genre')!.invalid || bookForm.get('genre')!.touched">
                Genre is required.
            </mat-error>
        </mat-form-field>
    </div>
    <table>
        <tr>
            <td><button class="btn btn-success" mat-button [disabled]="bookForm.invalid"
                    (click)="add()">Add</button></td>
        </tr>
    </table>
</form>